---
const { titulo, lugar, fechaInicio, fechaFin, icono }  = Astro.props;
---

<div class="md:w-full flex flex-row gap-2 items-center md:rounded-lg md:bg-[var(--item-bg)] p-4 md:p-2 border-b border-[var(--white)] last:border-none md:border-none">
  <img src={icono} alt="Icono" class="rounded-sm bg-[var(--icon-bg)] h-18 p-1"/>
  <div class="flex flex-col text-left">
    <h2 class="text-[var(--white)] text-lg md:text-2xl">{titulo}</h2>
    <p class="text-[var(--subtitle-1)] text-md">{lugar}</p>
    <p class="text-[var(--subtitle-2)] text-md">{fechaInicio} - {fechaFin}</p>
  </div>
</div>
