---
const { titulo, descripcion, imagen, github, despliege } = Astro.props;
---
<div class={`md:w-full h-70 flex flex-row gap-2 rounded-lg bg-gray-700 p-2 relative`}>
  <img src={`/src/assets/${imagen}`} alt="Icono" class="h-full rounded-md"/>
  <div class={`w-full flex flex-col gap-3 text-left`}>
    <h2 class="text-white text-3xl">{titulo}</h2>
    <p class="text-gray-400 text-md">{descripcion}</p>

    <div class="flex flex-row gap-2 absolute bottom-1">
      <a href={github} class="h-11 w-35 flex flex-row gap-1 items-center bg-white shadow-sm shadow-white p-2 rounded-lg cursor-pointer" rel="noopener" target="_blank">
        <img src="/src/assets/github-icon-black.webp" alt="Icono" class="h-5 mr-2"/>
        Repositorio
      </a>
      <a href={despliege} class="h-11 w-35 flex flex-row gap-1 items-center bg-blue-300 shadow-sm shadow-blue-300 p-2 rounded-lg cursor-pointer" rel="noopener" target="_blank">
        <img src="/src/assets/despliegue-icon.webp" alt="Icono" class="h-5 mr-2"/>
        Despliegue
      </a>
    </div>
  </div>
</div>