---
type Props = {
  titulo: string;
  descripcion: string;
  imagen: string;
  github: string;
  despliege: string;
}

const { titulo, descripcion, imagen, github, despliege }: Props = Astro.props;
import githubWhite from '../assets/github-icon-white.svg';
import githubBlack from '../assets/github-icon-black.svg';
import despliegueIcon from '../assets/despliegue-icon.webp';

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---
<div class="flex flex-col lg:flex-row gap-5 md:rounded-lg md:bg-[var(--item-bg)] p-4 pt-0 pb-0 md:p-2 relative items-center border-b border-[var(--white)] last:border-none md:border-none">
  <img src={imagen} alt="Icono" class="rounded-md shadow-sm shadow-gray-950"/>
  <div class="w-full md:items-start items-center flex flex-col gap-3 text-left">
    <h2 class="text-[var(--white)] text-3xl">{titulo}</h2>
    <p class="text-[var(--subtitle-2)] text-md">{descripcion}</p>

    <div class="flex flex-wrap gap-2 md:bottom-2">
      <a href={github} class="h-11 flex flex-row gap-1 items-center bg-[var(--white)] p-2 rounded-lg cursor-pointer text-[var(--black)]" rel="noopener" target="_blank">
        <picture>
          <source srcset={githubBlack.src} media="(prefers-color-scheme: dark)" />
          <img src={githubWhite.src} alt="Icono" class="h-5"/>
        </picture>
        {t('utils.repositorio')}
      </a>
      <a href={despliege} class="h-11 flex flex-row gap-1 items-center bg-[var(--star-blue)] p-2 rounded-lg cursor-pointer text-[var(--star-blue-text)]" rel="noopener" target="_blank">
        <img src={despliegueIcon.src} alt="Icono" class="h-5"/>
        {t('utils.despliegue')}
      </a>
    </div>
  </div>
</div>  