---
type Props = {
  nombre: string;
  icono: string;
  subtitulo?: string;
  repositorio?: string;
}

const { nombre, icono, subtitulo, repositorio }: Props = Astro.props;
import githubWhite from '/src/assets/github-icon-white.svg'
import githubBlack from '/src/assets/github-icon-black.svg'

import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="w-full relative flex flex-row gap-2 items-center md:rounded-lg md:bg-[var(--item-bg)] p-4 md:p-2 border-b border-[var(--white)] last:border-none md:border-none">
  <img src={icono} alt="Icono" class="h-14 bg-[var(--icon-bg)] rounded-sm"/>
  <div class="flex flex-row items-center text-left">
    <div class="flex flex-row items-center gap-2">
      <h2 class="text-[var(--white)] text-2xl">{nombre}</h2>
      <p class="text-[var(--subtitle-1)] text-md">{subtitulo}</p>
    </div>
    {repositorio && <a href={repositorio} class="absolute md:right-2 right-4 h-11 flex flex-row gap-1 items-center bg-[var(--white)] p-2 rounded-lg cursor-pointer" rel="noopener" target="_blank">
      <picture>
        <source srcset={githubBlack.src} media="(prefers-color-scheme: dark)" />
        <img src={githubWhite.src} alt="Icono" class="h-5"/>
      </picture>
      <span class="hidden lg:inline text-[var(--black)]">{t('utils.repositorio')}</span>
    </a>}
  </div>
</div>
